
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liang-chat</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" >
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
      body
	  {
	     background-color: #E0CCFF;
		 margin: 0px;
		 padding: 0px;
		 font-size: 14px;
	  }
	  div
	  {
	     display: block;
	  }
	  ul
	  {
	     margin: 0;
		 padding: 0;
		 display: block;
		 list-style-type: none;
		 -webkit-margin-before: 1em;
		 -webkit-margin-after: 1em;
		 -webkit-margin-start: 0px;
		 -webkit-margin-end: 0px;
		 -webkit-padding-start: 40px;
	  }
	  embed
	  {
	     width: 100;
		 height: 100;
		 allownetworking: internal;
		 allowscriptaccess: never;
		 quality: high;
		 background-color: #FFFFFF;
		 wmode: transparent;
		 allowfullscreen: true;
	  }
	  #top
	  {
	     padding: 0px;
		 border-bottom-width: 1px;
		 border-bottom-style: solid;
		 border-bottom-color: rgb(230,231,225);
		 background-color: #8A8AE6;
		 min-width: 960px;
		 line-height: 28px;
	  }
	  .cl
	  {
	     zoom: 1;
	     
	  }

      .section 
      {
  		 margin-left: 200px;
	  }

	  .cl::after
	  {
	     content: ".";
		 display: block;
		 height: 0px;
		 clear: both;
		 visibility: hidden;
	  }
	  .z
	  {
	     float: left;
	  }
	  a
	  {
	     color: #5200CC;
	  }
	  <!-- A{text-decoration:none} --> 
	
	  #mid
	  {
	     margin-top: 30px;
		 width: 950px;
		 height: 130px;
		 border-top-color: rgb(211, 223, 223);
		 border-top-style: solid;
		 border-top-width: 1px;
		 border-right-color: rgb(211, 223, 223);
		 border-right-style: solid;
		 border-right-width: 1px;
		 border-bottom-color: rgb(211, 223, 223);
		 border-bottom-style: solid;
		 border-bottom-width: 1px;
		 border-left-color: rgb(211, 223, 223);
		 border-left-style: solid;
		 border-left-width: 1px;
		 background-image: url(/images/pur.jpg);
		 background-position-x: 100%;
		 background-position-y: 0%;
		 background-size: initial;
		 background-repeat: no-repeat;
		 background-attachment: initial;
		 background-origin: initial;
		 background-clip: initial;
		 background-color: rgb(250, 250, 250);
		 color: #004700;
		 position: relative;
	  }
	  #mid h2
	  {
	     padding-top: 20px;
		 padding-right: 0px;
		 padding-bottom: 0px;
		 padding-left: 30px;
		 line-height: 30%;
		 font-size: 25px;
		 float: left;
	  }
	  #mid h2 strong
	  {
	     display: block;
	  }
	  #mid h2 span
	  {
	     display: block;
	  }
	  #nv li
	  {
	     font-size: 20px;
		 margin-right: 1px;
		 padding-top: 0px;
		 padding-right: 16px;
		 padding-bottom: 0px;
		 padding-left: 16px;
		 height: 30px;
		 line-height: 30px;
		 float: left;
		 font-weight: 700;
		 list-style: none;
	  }
	  #down .frame
	  {
	     padding-top: 15px;
	  }
	  #p1 li
	  {
	     clear: both;
	     padding: 3px 0 3px 90px;
	  }
	  #p1 li em
	  {
	     float: left;
		 margin-left: -90px;
		 width: 85px;
		 overflow: hidden;
		 font-style: normal;
	  }
	  .mbn
	  {
	     margin-bottom: 5px;
	  }
	  .wp
	  {
	     width: 970px;
		 margin-top: 0px;
		 margin-right: auto;
		 margin-bottom: 0px;
		 margin-left: auto;
		 overflow: hidden;
	  }
	  .fw
	  {
	     font-weight: 400;
	  }
	  .fs
	  {
	     font-family: Arial;
	     font-size: 0.83em;
	  }
	  .fs1
	  {
	     font-size: 12px;
	  }
	  .mt
	  {
	     margin-top: 5px;
	  }
	  #nv
	  {
	     bottom: 10px;
		 position: absolute;
		 left: 10px;
		 height: auto;
		 overflow: hidden;
	  }
	  .wp
	  {
	     width: 970px;
		 margin-top: 0px;
		 margin-right: auto;
		 margin-bottom: 0px;
		 margin-left: auto;
		 overflow: hidden;
	  }
	  .area
	  {
	     padding-top: 0px;
		 padding-right: 5px;
		 padding-bottom: 0px;
		 padding- left: 5px;
	  }
	  .column
	  {
	     overflow: column;
	  }
	  .block
	  {
	     margin-top: 0px;
		 margin-right: 5px;
		 margin-bottom: 10px;
		 margin-left: 5px;
		 border-top-color: rgb(221, 221, 221);
		 border-top-style: solid;
		 border-top-width: 1px;
		 border-right-color: rgb(221, 221, 221);
		 border-right-style: solid;
		 border-right-width: 1px;
		 border-bottom-color: rgb(221, 221, 221);
		 border-bottom-style: solid;
		 border-bottom-width: 1px;
		 border-left-color: rgb(221, 221, 221);
		 border-left-style: solid;
		 border-left-width: 1px;
		 background-color: #FFF;
	  }
	  .title
	  {
	     border-bottom-width: 1px;
		 border-bottom-style: solid;
		 border-bottom-color: #8585FF;
		 background-color: #8585FF;
		 padding-top: 0px;
		 padding-right: 10px;
		 padding-bottom: 0px;
		 padding-left: 10px;
		 font-size: 14px;
		 font-weight: 700;
		 line-height: 35px;
		 height: 30px;
		 overflow: hidden;
	  }
	  .db_pd
	  {
	     padding-top: 5px;
		 padding-right: 10px;
		 padding-bottom: 10px;
		 padding-left: 10px;
	  }
	  .ta
	  {
	     text-align: center;
	  }
      .section 
      {
  		 margin-left: 280px;
  		 overflow: auto;
	  }

      .section2
      {
  		 margin-left: 320px;
  		 overflow: auto;
	  }


	  .bm
	  {
	  	background-color: #FFF;
	  	border: 1px solid #E6E7E1;
	  	margin-bottom: 10px;
	  	zoom: 1;
	  }
	  .bm_h
	  {
	  	padding: 0 10px;
	  	height: 31px;
	  	border-top: 1px solid #FFF;
	  	border-bottom: 1px solid #ddd;
	  	background: #f6f6f6;
	  	line-height: 31px;
	  	white-space: nowrap;
	  	overflow: hidden;
	  }
	  .mt
	  {
	  	margin: 0;
	  	padding: 0;
	  }
	  .bm_c
	  {
	  	padding: 10px;
	  }
	  
	  #posts
	  {
         margin: 0;
         padding: 0;
      }
      #posts li
	  {
         margin: 40px 0;
         padding: 0;
         padding-bottom: 20px;
         border-bottom: 1px solid #eee;
         list-style: none;
      }
      #posts li:last-child
	  {
         border-bottom: none;
      }
      textarea
	  {
         width: 500px;
         height: 300px;
      }
      input[type=text],
      textarea
	  {
         border: 1px solid #eee;
         border-top-color: #ddd;
         border-left-color: #ddd;
         border-radius: 2px;
         padding: 15px;
         font-size: .8em;
      }
      input[type=text]
	  {
         width: 500px;
      }

   </style>
</head>
<body>
   <div id="top" class="cl">
      
      <div class="z">
         <a href="https://www.facebook.com/profile.php?id=100000328042295" style="padding-left:4px;padding-right:4px" title="facebook">facebook</a>
	     <a href="https://www.google.com/calendar/" style="padding-left:4px;padding-right:4px" title="Google日曆">日曆</a>
		 <a href="https://translate.google.com.tw/" style="padding-left:4px;padding-right:4px" title="Google翻譯">翻譯</a>
		 <a href="https://www.youtube.com/" style="padding-left:4px;padding-right:4px">Youtube</a>
		 <a href="https://www.google.com.tw/maps/" style="padding-left:4px;padding-right:4px" title="Google地圖">地圖</a>
		 <a href="https://www.google.com.tw/" style="padding-left:4px;padding-right:4px" title="Google首頁">google</a>
	  </div>
   
   </div>
   
   <div id="mid" class="wp cl">
      <h2 id="spaceinfoshow">
	     <strong id="spacename" class="mbn">留言板</strong>
		 <span class="fw fs">
		    <p>Welcome</p>
		 </span>
		 <span id="spacedescription" class="fs1	 mt fw"></span>
	  </h2>
	  <div id="nv">
	     <ul>
		    <li>
			   <a href="/">首頁</a>
			</li>
			<li>
			   <a href="/Light02">相簿</a>
			</li>
			<li>
			   <a href="/Light03">好站連結</a>
			</li>
			<li>
			   <a href="">聊天室</a>
			</li>
         </ul>
	  </div>
   </div>
   
    <div id="down" class="wp ">
    	<div class="main clearfix">
        	<div class="chat fl">
            	<div class="record">
            		<div class="list clearfix"></div>
            	</div>
        		<div class="manager clearfix">
            		<div class="font cc">
                		<span>A</span>
                    	<div class="fontlist clearfix">
	                    	<div class="fontcolor cc">
    	                    	<input type="color" id="fontcolor">
        	        		</div>
            	        	<div class="fontsize cc">
                	        	<select id="fontsize">
                    	        	<option value="12px">12px</option>
                        	    	<option value="14px" selected="true">14px</option>
                                	<option value="16px">16px</option>
                              		<option value="18px">18px</option>
    	                        	<option value="20px">20px</option>
        	                    	<option value="22px">22px</option>
        	                    	<option value="24px">24px</option>
        	                    	<option value="28px">28px</option>
        	                    	<option value="36px">36px</option>
        	                    	<option value="48px">48px</option>
            	            	</select>
               	        	</div>
                   		</div>
               		</div>
                
               		<div class="imgup cc">
                   		<input id="fileupload" type="file" name="mypic">
               		</div>

               		<div class="shk cc">
               	    	<span title="發出震動">敲</span>
               		</div>
           		</div>
           		<div class="send">
           	    	<textarea name="" id="msg"></textarea>
           	    	<input type="button" class="btn" id="send" value="發送">
           		</div>
        	</div>
        	<div class="user fr">
       	    	<div>在線人數：<span id="num">0</span></div>
       		    <div class="list">
       	        	<ul></ul>
       	    	</div>
        	</div>
    	</div>
    	<div class="layer"></div>
    	<div class="content" id="content">
    	    <div class="info">
   		       connecting server...
   		    </div>
       		<div class="nickform" >
       		    <div>
       		        <p>請選擇頭像</p>
       		        <ul class="portrait clearfix"></ul>
       		    </div>
       	    	<form action="" onSubmit="return Chat.login(); return false;">
               		<div>
               	    	<p id="tips">請輸入暱稱：</p>
               	    	<p>
                       	<input type="text" autofocus="true" id="nickname">
                       	<input type="submit"  id="nickok" value="OK">
                   		</p>
               		</div>
           		</form>
       		</div>
   		</div>
    </div>	  
</body>
<script type="text/javascript" src="./js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="./js/wchat.js"></script>
</html>